.header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--dark-100);
  width: 100%;
  max-width: 1280px;
}

.content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 60px;
}

.text {
  margin-top: 12px;
  font-weight: 600;
  font-size: 26px;
}
.navigate {
  display: flex;
  gap: 34px;
}

.select {
  margin-top: 12px;
}

.btn {
  margin-top: 12px;
  width: 100px;
  height: 36px;
  &:first-child {
    margin-right: 22px;
  }
}
