

.SelectTrigger {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    border: 1px solid var(--Dark-100, #4C4C4C); 
    padding: 0 15px;
    font-size: 13px;
    line-height: 1;
    width: 210px; 
    height: 36px;
    gap: 5px; 
    color: var(--light-100, #ffffff);
    &:hover {
        border: 1px solid var(--accent-500, #397DF6); 

    }
    &:disabled {
        color: var(--Dark-100, #4C4C4C);
        border-color: var(--Dark-100, #4C4C4C);
    }

    &[data-placeholder] {
        color: var(--light-100, #ffffff);
    }

    &[data-state="open"] {
        background-color: var(--Dark-500, #171717);
    }
}

.Icon { 
    padding-top: 8px; 
    color: var(--light-100, #ffffff);
}

.Open {
    border-color: var(--light-100, #ffffff); 
}

.Content {
    overflow: hidden;
    width: 196px; 
    border-radius: 6px;
    border: 1px solid var(--light-100, #ffffff);  
    background-color: var(--Dark-500, #171717);
}

.Viewport {
    padding: 5px;
}

.Item {
    font-size: 13px;
    line-height: 1;
    color: var(--light-100, #ffffff);
    border-radius: 3px;
    display: flex;
    align-items: center;
    height: 25px;
    padding: 0 35px 0 25px;
    position: relative;
    user-select: none;
    &[data-disabled] {
        color: var(--Dark-100, #4C4C4C); 
        pointer-events: none;
    }
    &[data-highlighted] {
        outline: none;
        color: var(--accent-500, #397DF6); 
    }
}

.PlaceholderLabel {
    color: var(--Light-900, #8D9094);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}

.SelectContent {
	width: var(--radix-select-trigger-width);
	max-height: var(--radix-select-content-available-height);
}

.SelectTrigger {
    width: var(--radix-select-trigger-width);
    height: var(--radix-select-trigger-height);
  }
  
  .SelectContent {
    transform-origin: var(--radix-select-content-transform-origin);
  }
  