.sidebar {
  max-width: 220px;
  width: 100%;
  max-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 60px;
  border-right: 1px solid var(--dark-100);
}

.list {
  margin-top: 60px;
  &:first-child {
    margin-top: 72px;
  }
  &:last-child {
    margin-top: 180px;
  }
}
.top {
}
.main {
  margin-bottom: auto;
}
