.sidebar {
  position: relative;
  max-width: 220px;
  width: 100%;
  max-height: 100vh;
  height: 100%;
  height: 734px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 60px;
}

.sidebar::after {
  content: '';
  position: absolute;
  height: 100vh;
  width: 1px;
  background-color: var(--dark-100);
  right: 0;
  z-index: 1000;
}
.list {
  margin-top: 60px;
  &:first-child {
    margin-top: 72px;
  }
  &:last-child {
    margin-top: 180px;
  }
}
.top {
}
.main {
  margin-bottom: auto;
}
