.sidebarWrapper {
  position: relative;
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 220px;
  max-height: 100vh;
  height: 734px;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
  margin-top: 72px;
}

.sidebarWrapper::after {
  content: '';
  position: absolute;
  height: 100vh;
  width: 1px;
  background-color: var(--dark-100);
  right: 0;
}
