.imagesCropper {
  max-width: 492px;
  height: inherit;
  min-height: inherit;
  display: block;

  .reactCrop {
    width: 100%;
    min-height: 100%;
    height: 100%;
    display: block;

    & img {
      width: 100%;
      //height: 100%;
      object-fit: cover;
    }
  }

  .prevBtn, .nextBtn {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 36px;
    background-color: var(--dark-500);
    opacity: 0.8;
    border: none;
    cursor: pointer;
  }

  .prevBtn {
    left: 12px;
  }

  .nextBtn {
    right: 12px;
    transform: rotate(180deg);
  }
}

.imageCropWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  //height: inherit;
  min-height: inherit;

  //position: relative;  /* Делаем контейнер относительно позиционированным */
  width: 100%;  /* Убедитесь, что контейнер имеет нужную ширину */
  height: 100%;  /* Убедитесь, что контейнер имеет нужную высоту */
  overflow: hidden;  /* Это обрежет все, что выходит за пределы контейнера */
}

.croppedImage {
  position: absolute; /* Позволяет позиционировать изображение относительно родителя */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Центрирует изображение */
  object-fit: contain;  /* Изображение сохраняет пропорции и не выходит за пределы контейнера */
  max-width: 100%;  /* Ограничиваем максимальную ширину */
  max-height: 100%;  /* Ограничиваем максимальную высоту */
  //z-index: 10000;
}

.imageCropWrapper .reactCrop {
  min-height: inherit;
  margin: 0 auto;
  background-color: var(--dark-300);

  //& img {
  //  margin: auto;
  //}
}

.imageCropWrapper :global(.ReactCrop__child-wrapper) {
  height: inherit;
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnailGallery {
  position: absolute;
  display: flex;
  gap: 10px;
  padding: 12px;
  background-color: var(--dark-500);
  opacity: 0.8;
  bottom: 50px;
  right: 11px;

  & img {
    width: 80px;
    height: 82px;
    opacity: 1;
  }
}

.toggleAspectButton,
.toggleThumbnailsBtn {
  width: 36px;
  height: 36px;
  padding: 6px;
  border: none;
  background-color: var(--dark-500);
  opacity: 0.8;
  position: absolute;
  bottom: 11px;
  z-index: 100;
  cursor: pointer;

}

.toggleAspectButton {
  left: 11px;
}

.toggleThumbnailsBtn {
  right: 11px;
  color: var(--light-100);

  &.active {
    color: var(--accent-500);
  }
}

.aspectRatioBtns {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  width: 156px;
  bottom: 50px;
  left: 11px;
  background-color: var(--dark-500);
  opacity: 0.8;
  padding: 10px 12px;
  z-index: 100;
}

.aspectRatioContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light-900);

  &:hover {
    color: var(--light-700); // светло-серый фон при наведении
  }

  &.active {
    color: var(--light-100);
  }
}

.svgIcon {
  display: block;
  width: 18px;
  height: 18px;
}