.userCounterBlock {
  display: flex;
  background-color: var(--dark-700);
  border: 1px solid var(--dark-300);
  border-radius: 2px;
  padding: 0 20px 0 10px;
}
.countItem {
  margin: 10px 0px 10px 10px;
}
.countItem:not(:first-child) {
  border-left: 2px solid var(--dark-300);
  padding-left: 10px;
}
