.createPostWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 490px;
    min-height: 490px;
    height: 490px;
    box-sizing: border-box;
    margin: auto;
    overflow: hidden;
}

.cropperWrapper {
    height: inherit;;
    min-height: inherit;
}

.publishWrapper {
    width: 972px;
    height: inherit;
    min-height: inherit;
    display: flex;
}