.createPostWrapper {
    width: 100%;
    height: inherit;
    min-height: inherit;
}

.publishButton {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.cropperWrapper {
    height: inherit;;
    min-height: inherit;
}

.publishWrapper {
    width: 972px;
    height: inherit;
    min-height: inherit;
    display: flex;
}