.page {
  display: flex;
  max-width: 1280px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 70px;
  flex-grow: 1;
}
.usersInfo {
  background-color: var(--dark-500);
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  padding: 30px;
  border: 1px var(--dark-300) solid;
}
.postsBlock {
  width: 90%;
  display: flex;
  justify-content: space-between;
  /* gap: 10px; */
  margin-top: 30px;
  flex-direction: row;
  flex-wrap: wrap;
}
.postBlock {
  margin-bottom: 30px;
}
.avatarNameBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.timeAgo {
  font-size: 12px;
  margin: 10px 0 10px 0;
  color: var(--light-900);
}
