.textAreaContainer {
    display: flex;
    flex-direction: column;
}

.label {
    color: var(--Light-900, #8D9094);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.textArea {
    height: 84px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid var(--Dark-100, #4C4C4C);
    background: var(--Dark-500, #171717);
    color: var(--light-100, #ffffff);
    padding: 10px;
    outline: none;
    caret-color: var(--light-100, #ffffff);
    resize: none;
    text-align: left;
    vertical-align: top; 

    &:hover {
        border: 1px solid var(--light-100, #ffffff);
    }

    &:disabled {
        color: var(--Dark-100, #4C4C4C); 
        border: 1px solid var(--Dark-100, #4C4C4C); 
    }

    &:focus {
        border: 1px solid var(--Primary-700, #2F68CC);;
    } 

    &::placeholder {
        color: var(--Light-900, #8D9094);
    }

    &:not(:disabled):hover::placeholder,
    &:not(:disabled):focus::placeholder {
        color: var(--light-100, #ffffff);
    }
}

.error {
    color: var(--Danger-500, #CC1439);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    border: 1px solid var(--Danger-500, #CC1439); 

    &:hover {
        border: 1px solid var(--Danger-500, #CC1439);  
    }
    &:focus {
        border: 1px solid var(--Danger-500, #CC1439);  
    }
}

.character {
    color: var(--Light-900, #8D9094);
    text-align: right;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
}

