.comments {
  display: flex;
  flex-direction: column;
  color: var(--light-100);
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-inter), sans-serif;
  font-style: normal;
  height: 422px;

  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.commentsList {
  display: flex;
  flex-direction: row;
  margin-left: 24px;
  margin-top: 19px;
  line-height: 24px;
}

.userName {
  font-weight: 700;
  font-size: 18px;
}

.time {
  color: var(--light-900);
  font-size: 14px;
  margin-top: 5px;
  line-height: 16px;
}

.hr {
  border: none;
  height: 1px;
  background-color: var(--Dark-100, #4c4c4c);
  width: 482px;
}
