.header {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.header::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--dark-100);
}

.content {
  display: flex;
  max-width: 1280px;
  width: 100%;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}

.text {
  font-weight: 600;
  font-size: 26px;
}
.navigate {
  display: flex;
  gap: 34px;
}

.select {
}

.btn {
  width: 100px;
  height: 36px;
  &:first-child {
    margin-right: 22px;
  }
}