.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.content {
  background-color: var(--dark-300);
  border-radius: 2px;
  min-width: 492px;
  min-height: 550px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-family: Inter, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
}

.title {
  font-size: 20px;
  line-height: 36px;
  font-weight: bold;
  margin: 0 auto;
  text-transform: capitalize;
}

.closeButton {
  background: none;
  color: var(--light-100);
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 12px;
}

.navigationButtons {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);

  & .prevButton,
  & .nextButton, {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;

    &:hover,
    &:active {
      color: var(--accent-500);
    }
  }
}

.actions .publishButton {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  z-index: 100;
  cursor: pointer;
}

.divider {
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  border: none;
  border-top: 1px solid var(--dark-100);
}

/* Стили для модалки с подтверждением */
.confirmOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10001;
}

.confirmContent {
  background-color: var(--dark-300);
  border-radius: 2px;
  width: 378px;
  padding: 12px 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10002;
  font-family: Inter, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.confirmHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.confirmTitle {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.confirmDescription {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--light-100);
  margin: 30px 0 20px;
}

.confirmButtons {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.confirmCloseButton {
  background: none;
  color: var(--light-100);
  border: none;
  outline: none;
  cursor: pointer;
}

.confirmButton {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: white;
  padding: 6px 24px;
  border-radius: 2px;
  cursor: pointer;
}

.confirmButton.outlined {
  background: none;
  border: 1px solid var(--light-100);
}

.confirmButton.primary {
  background-color: var(--primary-500);
}
